<div class = "col-xs-10 col-xs-offset-1 about">
  <h1> About Splurty </h1>

  <p> Splurty was built by <a target="_blank" href="http://github.com/emmhoffman720">Emma </a>.  

<div class = "col-xs-12 col-sm-4">
  <%= image_tag 'profile-pic.jpg', class: 'img-responsive' %>
</div>

<div class = "col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class = "text-center">Emma Hoffman</h2>
  <br />

  <p>Emma Hoffman is a student web designer currently enrolled in The Firehose Project.  She has been coding since middle school and is finally ready to step into the business world of coding and programming. 
  </p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
<br />
<br />



</div>